<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>AirplaneCreateController</servlet-name>
        <servlet-class>controller.AirplaneCreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AirplaneViewController</servlet-name>
        <servlet-class>controller.AirplaneViewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AirplaneUpdateController</servlet-name>
        <servlet-class>controller.AirplaneUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderFlightController</servlet-name>
        <servlet-class>controller.OrderFlightController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailController</servlet-name>
        <servlet-class>controller.OrderDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderFilterController</servlet-name>
        <servlet-class>controller.OrderFilterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderConfirmServlet</servlet-name>
        <servlet-class>controller.OrderConfirmServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AirplaneCreateController</servlet-name>
        <url-pattern>/airplane/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AirplaneViewController</servlet-name>
        <url-pattern>/airplane/view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AirplaneUpdateController</servlet-name>
        <url-pattern>/airplane/update</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>homeController</servlet-name>
        <servlet-class>controller.homeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>blogController</servlet-name>
        <servlet-class>controller.blogController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>homeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>blogController</servlet-name>
        <url-pattern>/blog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderFlightController</servlet-name>
        <url-pattern>/view/order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderFilterController</servlet-name>
        <url-pattern>/view/order-filter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderConfirmServlet</servlet-name>
        <url-pattern>/view/order-confirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailController</servlet-name>
        <url-pattern>/view/order-detail</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>ListFlightServlet</servlet-name>
        <servlet-class>controller.ListFlightServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewFlightServlet</servlet-name>
        <servlet-class>controller.ViewFlightServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchFlightServlet</servlet-name>
        <servlet-class>controller.SearchFlightServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterFlightServlet</servlet-name>
        <servlet-class>controller.FilterFlightServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateFlightServlet</servlet-name>
        <servlet-class>controller.UpdateFlightServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFlightServlet</servlet-name>
        <servlet-class>controller.AddFlightServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListFlightServlet</servlet-name>
        <url-pattern>/view/list-flight</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchFlightServlet</servlet-name>
        <url-pattern>/view/search-flight</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterFlightServlet</servlet-name>
        <url-pattern>/view/filter-flights</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewFlightServlet</servlet-name>
        <url-pattern>/view/view-flight</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFlightServlet</servlet-name>
        <url-pattern>/view/add-flight</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateFlightServlet</servlet-name>
        <url-pattern>/view/update-flight</url-pattern>
    </servlet-mapping>
</web-app>
